.backdrop-spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* fondo oscuro con transparencia */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* alto para que esté encima de todo */
}