.board-page {
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
  background-color: #f9fafb;
  min-height: 100vh;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.board-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 16px 6px;
}

.create-task-button {
  background-color: #2563eb;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.3rem 1rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.create-task-button:hover {
  background-color: #1d4ed8;
}

/* Grid de tarjetas */
.tasks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.no-tasks {
  font-size: 1rem;
  color: #6b7280;
  text-align: center;
  margin-top: 2rem;
}

/* Sección de errores */
.board-page-errors {
  padding: 2rem;
  text-align: center;
  color: #d00;
}

.board-go-back {
  text-decoration: none;
  color: #1d4ed8;
  width: fit-content;
}